<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
</head>

<style>

    body {
        background: url("/static/mountain.jpg") no-repeat center fixed;
        background-size: cover;
    }

    label, h1, input, p {
        font-family: 'Courier New', monospace;
        text-align: center;
    }
    
</style>

<body>
    <h1>CONTACT ME</h1>

    <p>Romulo Ramos Jr.</p>
    <p>2050 Ilang-ilang St., Sta. Mesa, Manila</p>
    <p>rdramosjr@outlook.com</p>
    <p>09078147931</p>
</body>
</html>
