<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>

<style>

    body {
        background: url("/static/mountain.jpg") no-repeat center fixed;
        background-size: cover;
    }

    nav, h1, ul, p {
        font-family: 'Courier New', monospace;
        text-align: center;
    }

</style>

<body>
    <h1>ROMULO.COM</h1>

    <p><a href="/profile">Profile</a></p>
    <p><a href="/works">Works</a></p>
    <p><a href="/contact">Contact</a></p>
    <p><a href="/touppercase">Convert to Uppercase</a></p>
    <p><a href="/areaOfcircle">Area of a Circle</a></p>
    <p><a href="/areaOfTriangle">Area of a Triangle</a></p>

</body>
</html>

