<!DOCTYPE html>
<html>
<head>
    <title>Convert to Uppercase</title>
</head>

<style>

    body {
        background: url("/static/mountain.jpg") no-repeat center fixed;
        background-size: cover;
    }
    
    label, h1, input, p {
        font-family: 'Courier New', monospace;
        text-align: center;
    }


    form {
        margin: 0 auto;
        width: 420px;
    }
    
</style>

<body>
    <h1><a href="/touppercase">CONVERT STRING TO UPPERCASE</a></h1>
    <p>Given a string, converts all lowercase characters to uppercase.</p>

    <h1><a href="/areaOfcircle">AREA OF CIRCLE</a></h1>
    <p>Given the radius of the circle, calculate its area.</p>

    <h1><a href="/areaOfTriangle">AREA OF TRIANGLE</a></h1>
    <p>Given the base and height of the triangle, calculate its area.</p>

</body>
</html>
